.div-imagen{
	display: inline-block;
	position: relative;
}

.descripcion {
  position:absolute;
  top:0;
  left:0;
  right: 0;
  z-index:0;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.00;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  
}




